body{
    font-family: 'Times New Roman', Times, serif;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: rgb(222, 169, 200);
    padding:10px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    text-align: center;
}

input{
    padding:5px;
    margin:10px;
    border: 0.5px solid black;
    border-radius: 5px;
}
button{
    padding:5px;
    margin:10px;
    border: 0.9px solid black;
    border-radius: 5px;
    background-color: rgb(172, 247, 151);
}

#weatherResult{
    margin:10px;
    font-size: 20px;
}